

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

#header1 {
  background-color: white; /* Azul */
  color: #296291; /* Texto blanco */
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 0;
  font-size: 1.2em;
}

header img {
    position: absolute;
    top: 15px; /* Ajusta la posición superior según tus necesidades */
    left: 76px; /* Ajusta la posición derecha según tus necesidades */
    max-width: 250px; /* Ajusta el ancho según tus necesidades */
}

#ul1 {
    list-style-type: none;
    justify-content: space-between;
    width: 50%;
    display: flex;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2vh;
}

a{
    color: inherit;
    text-decoration: none;
}


#header2 {
    display: flex;
    justify-content: center;
    background-color: #296291;   
    
}

#departamentocss :hover,#sucursalcss :hover,#medicocss :hover,#ambulanciacss :hover{
    color: black;
}


#titulocompromiso{
    justify-content: center;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    background: #0844CF;
background: linear-gradient(to right, #0844CF 24%, #51CFA1 46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

#contenidelcompromiso{
    display: flex;
    justify-content: center;
    width: 50%;
}

#divpapa{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#sucursalesgeneral {
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    background: #0844CF;
    background: linear-gradient(to right, #0844CF 24%, #51CFA1 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#contenedor-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clinicas1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    background: #0844CF;
    background: linear-gradient(to right, #0844CF 24%, #51CFA1 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent

}

#controldelistas{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0844CF;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.carousel-container {
    width: 100%; /* Cambiado a 100% del ancho de la ventana (viewport width) */
    height: 100%;
    margin: 0; /* Centrar el carrusel en la página */
    overflow: hidden;
    background-color: #51CFA1; /* Cambia esto al color de fondo que desees */
}

.slide {
    display: none;
    width: 100%;
    height: 100%; /* Hacer que las imágenes ocupen toda la altura del contenedor */
    background-color: #51CFA1; /* Cambia esto al color de fondo que desees */
}

#cssimagen {
    width: 600px;
    height: 300px; /* Cambia esto al valor de altura fija que desees */
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

